{:config {:order :random}
 :tests [{:type :selection
          :exam "「URLの直接入力」の攻撃に関して正しくないものを選びなさい"
          :options ["機密情報の窃取や情報漏洩、改ざんなどの被害を及ぼす可能性がある"
                    "ユーザ毎の値をサーバー上で保持して、他の画面でもその情報を利用できる仕組みを「セッション」という"
                    "ユーザが直接入力したURLに含まれるパラメーターをそのまま使用することで被害を防ぐことができる"]
          :answer 3}
         {:type :selection
          :exam "'http://xxx.xxx.xxx.xxx/vuln/login.php'のメールアドレス欄に何を入力すると「鈴木 一郎」のアカウントにログインできるか"
          :options ["' OR id = 3;--"
                   "' OR id = 2;--"
                   "' AND id = 2;--"]
          :answer 2}
        {:type :selection
          :exam "クロスサイトスクリプティング攻撃を防ぐために最も重要な対策はどれか"
          :options ["サーバーのパフォーマンスを最適化する"
                   "入力データの検証とエスケープ"
                   "ブラウザのキャッシュを無効にする"
                    "ウェブサーバーのログを監視する"]
          :answer 2}
        ]
}


