{:config {:order :ascending}
 :tests [{:type :selection
          :exam "ファイルサーバーの機能として、適切なものを1つ選べ"
          :options ["同一ネットワーク上でファイルを共有する"
                    "ホームページのファイルを表示する"
                    "複数のPCにネットワーク接続することで活用できる外付けのHDD"]
          :answer 1}
        {:type :selection
          :exam "ファイルサーバについて正しいものを選べ"
          :options ["Windowsサーバ導入時にデフォルトで利用できる"
                    "ユーザやユーザグループごとにフォルダへのアクセス権限を選べる"
                    "ファイル共有にはFTPプロトコルを使用する"]
          :answer 2}]}

